<app-banner title="Information de ce Port"></app-banner>
<br/>
<br/>

<button class="btn btn-danger"  style="width: 150px;"  (click)="retour()">retour</button>
<hr/>
<section >

    <div class="single_blog_text text-center">
        <h3><u style="text-decoration-line: underline">ID:</u>  {{X.id}}</h3>
        <h3><u style="text-decoration-line: underline">Nom du Port: </u> {{X.name}}</h3>
        <hr/>
        <button class="btn btn-success" (click)="listEmployee(id)">Liste des employee</button>
        <!-- <div class="social_icon">
            <a href="#"> <i class="ti-facebook"></i> </a>
            <a href="#"> <i class="ti-twitter-alt"></i> </a>
            <a href="#"> <i class="ti-instagram"></i> </a>
            <a href="#"> <i class="ti-skype"></i> </a>
        </div> -->
    </div>
    
    
    </section>
    <br/>
   