<section >

<div class="single_blog_text text-center">
    <h4><u style="text-decoration-line: underline">ID:</u>  {{X.id}}</h4>
    <p><u style="text-decoration-line: underline">Nom du Port: </u> {{X.name}}</p>

    
    <!-- <div class="social_icon">
        <a href="#"> <i class="ti-facebook"></i> </a>
        <a href="#"> <i class="ti-twitter-alt"></i> </a>
        <a href="#"> <i class="ti-instagram"></i> </a>
        <a href="#"> <i class="ti-skype"></i> </a>
    </div> -->
</div>


</section>