
<!-- <hr/> -->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
    
                        <p><strong >L</strong>’Office de la Marine Marchande et des Ports « OMMP » ( ex Office des Ports Nationaux Tunisiens « OPNT » et ex-Régie des Ports de Commerce relevant du Ministère des Travaux Publics ) a été créé en vertu de la loi N° 65-2 du 12 Février 1965, modifiée par la loi du 15 Février 1972.
                            Par loi N° 98/109 du 28 Décembre 1998, l’OMMP a été chargé d’exercer les attributions confiées à l’autorité et à l’administration maritime ainsi que les missions de l’autorité portuaire conformément à la législation en vigueur.
Les domaines d’activité de la chaîne portuaire de l’O.M.M.P. se caractérisent par la diversité du trafic maritime, qu’il soit de ligne ou de tramping traitant des conteneurs, RO/RO, passagers, croisiéristes.
Ainsi l’ O.M.M.P. gère et exploite dans les normes de la productivité et de la sécurité ses installations riches et diverses ; des ports pétroliers, des terminaux conteneurs, un terminal à passagers, des terminaux minéraliers, des installations spécialisées… et ce 24h/24 et 7 jours/7 
                        </p>
                        <hr/>
                        <img src="assets/om.jpg"  alt="">

                            <div class="banner_btn">
                                <a href="https://www.youtube.com/watch?v=pBFQdxA-apI" >
                                    <span > <br/><img src="assets/img/icon/play.svg" alt=""></span> Regarder notre vidéo   </a><img src="assets/img/icon/left_1.svg" alt="">
                                
                                </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="col-lg-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <img style="width: 520px; "src="assets/ommp3.jpg"  alt="">
                       <hr/>
                        <p><strong >L</strong>'OMMP assure des attributions d'autorité maritime et d'autorité portuaire conformément à la législation en vigueur. Il assure aussi les attributions de police portuaire dans les ports maritimes de commerce. Enfin, il a pour mission d'exploiter et d'assurer le fonctionnement, l'entretien et le développement des ports maritimes de commerce. L'exploitation et l'entretien des ports par l'OMMP s'étend, d'après la législation tunisienne3, s'étend aux rades, aux dépendances et aux installations portuaires rattachées.
                            L'OMMP est aussi habilité à constater les infractions à la législation maritime et à diligenter l'instruction des enquêtes maritimes. Le champ d'action de l'OMMP s'étend aussi aux ports de pêche et de plaisance, en plus des activités des ports de commerce.

                            Tous les ports maritimes de commerce de la Tunisie sont gérés en pleine propriété par l'OMMP2 et font partie de son patrimoine à savoir, Bizerte, La Goulette, Radès, Sousse, Sfax, Gabès et Zarzis.</p>
                       

                        
                    </div>
                </div>
                
            </div>
            
         
            </div>
            
            </div>
       
               
              

</section>
