<app-banner title="{{title}}"></app-banner>
<br/> 
<br/> 
<br/> 
<br/> 
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
            <div >
          <label for="nom"><strong>Nom:</strong></label>
          <form #portForm="ngForm" (ngSubmit)="addOrEditPort()">
            <div class="form-group">
              <!-- ngModel:affecter un nom a l'input  -->
              <!-- name :obligatoire -->
              <!-- email et pwd teb3in ojet user bech yetsabou fl user 3an tari9 ngModel wa9tella neqliqui 3al boutton bech tsir execution ll fnct login -->
              <input type="text" class="form-control" placeholder="Nom du Port" [(ngModel)]="Port.name" name="a">
            </div>
            <div class="form-group">
              <input type="submit" style=" text-align: center;" class="btn btn-dark py-1 px-3" [value]="title">
            </div>
            <div >
              
           
                      <button class="btn btn-danger"  style="width: 153px;"  (click)="retour()">retour</button>
            </div>

          
          
          </form>  
        </div>
      </div>
    </div>
  </div>
  <br/>