<app-banner title="Tout Les Employés"></app-banner>
<br/>
<br/>
<br/>




                     
<div class="row">
    <div class="col-xl-2">
        <button class="btn btn-danger" style="width: 160px;margin-left: 40px;" (click)="retour()">retour</button>
    </div>
        <div class="col-lg-4">
      <input class="form-control form-control-dark w-100" type="text" name="mailuser" [(ngModel)]="mailuser" placeholder="Rechercher un Employé" aria-label="Search"> 
    </div>
    <div class="col-lg-0.5" >
        <button class="btn btn-primary" (click)="search()"> <i class="bi bi-search"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg></i></button>
        </div>
    </div>
    <hr/>
    <div *ngIf="existe">
        <app-user  [user]="foundeduser" ></app-user>
    </div>
<br/>
<hr/>
<div class="row">

    <div *ngFor="let u of users" class="col-sm-4 col-lg-4">
    <!-- :les deux crochets[] :pour passer une var de la partie ts a partie html -->
    <hr />
    <app-user [user]="u" ></app-user>
    <hr /> 
    
</div>

</div>