<section >

    <div class="single_blog_text text-center">
        <p><u style="text-decoration-line: underline">ID:</u>  {{user.id}}</p>
        <p> <u style="text-decoration-line: underline">Nom:</u>      {{user.firstName}}</p>
        <p><u style="text-decoration-line: underline">Prénom:</u>    {{user.lastName}}</p>
        <p><u style="text-decoration-line: underline">Email:</u>   {{user.email}}</p>

        
        
        <!-- <div class="social_icon">
            <a href="#"> <i class="ti-facebook"></i> </a>
            <a href="#"> <i class="ti-twitter-alt"></i> </a>
            <a href="#"> <i class="ti-instagram"></i> </a>
            <a href="#"> <i class="ti-skype"></i> </a>
        </div> -->
    </div>
    
    
    </section>