<section >
    <div class="row" class="appa">
        <div class="col-lg-12">
            <p style=" color: white;">RÉPUBLIQUE TUNISIENNE | MINISTERE DU TRANSPORT ET DE LA LOGISTIQUE
            </p>
        </div>
    </div>
    <div class="row" class="appo">
    <div class="col-lg-12" >     
    <!-- <a class="navbar-brand" href="#"> -->
        <div style="margin-left: 620px;">
        <img  src="assets/img/logo.jpg" alt="logo" />
        <img  src="assets/ommpb.jfif" alt="logo" />
        <img style="height: 80px;" src="assets/tunisi.png" alt="logo" />
      <!-- </a> -->
    </div>
    </div>
   </div>
    
    <div class="row" class="appa">
        <div class="col-lg-12">
       <h2 style="text-align:center ; color: white;">{{title}}</h2>
        </div>
    </div>
</section>

