
        
<!-- 
        <div class="banner_part">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="banner_text">
                            <div class="banner_text_iner">
                                <h1 style="color: rgb(212, 8, 8);">Office de la Marine Marchande et des Ports</h1>
                                </div>
                                </div>
                    </div></div></div></div> -->




                    <section class="food_menu gray_bg">
                        <div class="container">
        <div class="row justify-content-between">
            <!-- <div class="banner_text">
                <div class="banner_text_iner">
            <div class="col-lg-12">
                <div>
                    <h1 style="color: rgb(212, 8, 8);">Office de la Marine Marchande et des Ports</h1>
                    <hr/>
            
                
            </div>
            </div>
            </div>
            </div> -->
           
       
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active single-member" id="Special" role="tabpanel"
                        aria-labelledby="Special-tab">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="single_food_item media">
                                    <img src="assets/bizert.jpg" class="mr-3" alt="..." style="width: 300px;">
                                    <div class="media-body align-self-center">
                                        <h3>LE PORT DE COMMERCE DE BIZERT</h3>
                                        <p>Favorisé par sa position stratégique sur l’axe des dessertes maritimes GIBRALTAR SUEZ </p>
                                        <h5><small><a href="tel:0021670240180"> <i class="fa fa-phone-square" aria-hidden="true"></i> 70 240 180 </a></small></h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/gabes.jpg" class="mr-3" alt="..." style="width: 300px;">
                                    <div class="media-body align-self-center">
                                        <h3>LE PORT DE COMMERCE DE GABES</h3>
                                        <p>Le port de commerce de Gabès dont l’activité se caractérise par une vocation industrielle,</p>
                                        <h5><small><a href="tel:0021670240220"> <i class="fa fa-phone-square"></i> 70 240 220 </a></small></h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/goulette.jpg" class="mr-3" alt="..." style="width: 300px;">
                                    <div class="media-body align-self-center">
                                        <h3>LE PORT DE COMMERCE DE LA GOULETTE</h3>
                                        <p>Le port de la Goulette est le point de convergence des grands réseaux routiers et ferroviaires de la Tunisie.</p>
                                        <h5><small><a href="tel:0021670240000"> <i class="fa fa-phone-square" aria-hidden="true"></i> 70 240 000 </a></small></h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/sousse.jpg" class="mr-3" alt="..." style="width: 320px;height: 185px;">
                                    <div class="media-body align-self-center">
                                        <h3>LE PORT DE COMMERCE DE SOUSSE</h3>
                                        <p>Situé en plein centre de la Tunisie, le port de Sousse occupe une position stratégique lui permettant d’avoir un large hinterland </p>
                                        <h5><small><a href="tel:0021670240240"> <i class="fa fa-phone-square" aria-hidden="true"></i> 70 240 240 </a></small></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="single_food_item media">
                                    <img src="assets/skhira.jpg" class="mr-3" alt="..." style="width: 280px">
                                    <div class="media-body align-self-center">
                                        <h3>LE PORT DE COMMERCE DE SKHIRA</h3>
                                        <p>Le port de la Skhira est situé à 34° 19’ 05’’ N; 10° 08’ 40’’ E (Tunisie) à environ 350 km de la capitale Tunis</p>
                                        
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/sfax.jpg" class="mr-3" alt="..." style="width: 280px;">
                                    <div class="media-body align-self-center">
                                        <h3>LE PORT DE COMMERCE DE SFAX</h3>
                                        <p>Situé en plein centre de la Tunisie, le port de Sousse occupe une position stratégique lui permettant d’avoir un large hinterland </p>
                                        <h5><small><a href="tel:0021670240200"> <i class="fa fa-phone-square" aria-hidden="true"></i> 70 240 200 </a></small></h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/rades.jpg" class="mr-3" alt="..." style="width: 320px;height: 185px;">
                                    <div class="media-body align-self-center">
                                        <h3>LE PORT DE COMMERCE DE RADES</h3>
                                        <p>Le port de Radès occupe une place importante dans la chaîne de transport national .</p>
                                        <h5><small><a href="tel:0021670240220"> <i class="fa fa-phone-square"></i> 70 240 220 </a></small></h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/zarzis.jpg" class="mr-3" alt="..." style="width: 320px;height: 185px;">
                                    <div class="media-body align-self-center">
                                        <h3>LE PORT DE COMMERCE DE ZARZIS</h3>
                                        <p>Le port de Zarzis est situé à l’extrême Sud Est de la Tunisie dont l’économie diversifiée est surtout composée des activités agricoles</p>
                                        <h5><small><a href="tel:0021670240140"> <i class="fa fa-phone-square"></i> 70 240 140 </a></small></h5>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- <div class="tab-pane fade single-member" id="Breakfast" role="tabpanel"
                        aria-labelledby="Breakfast-tab">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_4.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>LE PORT DE COMMERCE DE LA GOULETTE</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_5.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Tiener Schnitze</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_6.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Chicken Roast</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_1.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Pork Sandwich</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_2.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Roasted Marrow</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_3.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Summer Cooking</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="tab-pane fade single-member" id="Launch" role="tabpanel"
                        aria-labelledby="Launch-tab">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_1.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Pork Sandwich</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_2.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Roasted Marrow</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_3.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Summer Cooking</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_4.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Easter Delight</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_5.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Tiener Schnitze</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_6.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Chicken Roast</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div> -->
                    <!-- <div class="tab-pane fade single-member" id="Dinner" role="tabpanel"
                        aria-labelledby="Dinner-tab">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_4.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Easter Delight</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_5.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Tiener Schnitze</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_6.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Chicken Roast</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_1.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Pork Sandwich</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_2.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Roasted Marrow</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_3.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Summer Cooking</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div> -->
                    <!-- <div class="tab-pane fade single-member" id="Sneaks" role="tabpanel"
                        aria-labelledby="Sneaks-tab">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_1.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Pork Sandwich</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_2.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Roasted Marrow</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_3.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Summer Cooking</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_4.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Easter Delight</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_5.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Tiener Schnitze</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                                <div class="single_food_item media">
                                    <img src="assets/img/food_menu/single_food_6.png" class="mr-3" alt="...">
                                    <div class="media-body align-self-center">
                                        <h3>Chicken Roast</h3>
                                        <p>They're wherein heaven seed hath nothing</p>
                                        <h5>$40.00</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>