


 @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
        
 
 .card{
     padding: 2% 7%;

     background-color: #0c213a;
 }
 
 
 
 hr{
     border-width: 3px;
 }
 
 .social > i{
     padding: 2%;
   
     font-size: 25px;
     color:#074e9e;
    margin-left: 0px;
 }
 
 .social > i:hover{
     color:#043C7E;
     cursor:pointer;
 }
 
 
 
 
 
 .divider{
     border-top: 2px solid rgba(189, 196, 203, 0.5);;
 }